@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&display=swap');

body {
  font-family: "Nunito", "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  color: #1688A4;
  background-color: #FFFFFF;
  line-height: 1.0;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 600px;
}

h1 {
  font-family: "Inter", "Nunito", "Arial", "Helvetica", sans-serif;
  font-size: 72px;
  font-weight: 600;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: 600px;
  gap: 60px 10px;
  grid-template-areas:
    "info-1 info-1 info-1 info-1"
    "info-2 info-2 info-2 info-2"
    "info-3 info-3 info-3 info-3"
    "info-4 info-4 info-4 info-4"
    "info-5 info-5 info-5 info-5";
}

#about {
  grid-area: info-1;
}

#geography {
  grid-area: info-2;
}

#environment {
  grid-area: info-3;
}

#communications {
  grid-area: info-4;
}

h2 {
  font-family: "Nunito", "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  text-align: center;
  border: 4px solid #ADD8E6;
  border-style: outset;
  grid-area: section;
}

h3,
h4 {
  font-family: "Nunito", "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #000000;
  text-align: center;
}

p {
  font-family: "Nunito", "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  text-justify: left;
  max-width: 60ch;
}

ul {
  font-weight: 300;
  list-style-type: square;
  list-style-position: inside;
}

ol {
  font-weight: 300;
  list-style-position: inside;
}

table, th, td {
  border: 2px solid #000000;
  border-collapse: collapse;
  padding: 3px; border: solid;
  background-color: #FFFFFF;
}

.tb {
  margin-left: auto;
  margin-right: auto;
}

.sub {
  margin-left: auto;
  margin-right: auto;
}

#map {
  display: block;
  height: auto;
  margin-left: 250px;
  margin-right: 250px;
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: solid;
  background:grey;
}

#flag {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#anthem {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

figcaption {
  font-size: 12px;
  justify-items: center;
}

.alt-bg {
  background-color: FFFFFF;
}

a,
a:link {
  color: rgb(0,128,0);
}

a:visited {
  color: #FF00FF;
}

a:hover {
  color: #1688A4;
}

a:active {
  color: #00FF00;
}

footer {
  font-size: 14px;
  color: #rgb(0, 0, 0);
  margin: auto;
  width: 400px;
  text-align:center;
  padding:10px;
  color:rgb(0, 0, 0);
}
